<section class="container w-100">
  <div class="mt-5">
    <div class="p-5 rounded shadow-lg hover-blue bg-blue text-light" data-aos="zoom-in">
      <div class="text-center font-weight-bold text-medium mb-4">
        Why To Choose Us
      </div>
      <div class="text-center">
        We at signify, provide you with engaging video lessons taught by the top
        educators using smart techniques.
      </div>
    </div>

    <div class="d-flex flex-column justify-content-between mt-5">
      <div
        class="d-flex flex-column align-items-center w-20 border hover-blue rounded p-5 shadow-lg bg-blue"
        data-aos="zoom-in"
      >
        <i class="fas fa-thumbs-up d-block text-medium mb-4" ></i>
        <span class="text-medium">Top Educators</span><br />
        <span class="text-center"
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          tempora alias dolor quos consequatur ratione quam eaque possimus eos
          vero! Aut odio inventore atque neque labore error facere tempore
          sint.</span
        >
      </div>

      <div
        class="d-flex flex-column align-items-center w-20 border hover-blue rounded p-5 mt-5 shadow-lg bg-blue text-light"  data-aos="zoom-in"
      >
        <i class="fas fa-star d-block text-medium mb-4"></i>
        <span class="text-medium">Engaging Lectures</span><br />
        <span class="text-center"
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          tempora alias dolor quos consequatur ratione quam eaque possimus eos
          vero! Aut odio inventore atque neque labore error facere tempore
          sint.</span
        >
      </div>

      <div
        class="d-flex flex-column align-items-center w-20 border hover-blue rounded p-5 mt-5 shadow bg-blue"
         data-aos="zoom-in"
      >
        <i class="fas fa-graduation-cap d-block text-medium mb-4"></i>
        <span class="text-medium" data-aos="zoom-in"> Self Paced </span><br />
        <span class="text-center"
          >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          tempora alias dolor quos consequatur ratione quam eaque possimus eos
          vero! Aut odio inventore atque neque labore error facere tempore
          sint.</span
        >
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between px-5 my-5">
    <span
      class="material-icons text-medium cursor-pointer next-hover"
      routerLink="/"
      >keyboard_double_arrow_left</span
    >
    <span
      class="material-icons text-medium cursor-pointer next-hover"
      (click)="goToQuotations()"
      >keyboard_double_arrow_right</span
    >
  </div>
</section>
