<section class="w-100 m-5">
  <div class="text-medium border-bottom border-dark my-4 font-weight-bold w-75">
    SCHEDULE MEETING
  </div>
  <form autocomplete="off" [formGroup]="newMeetingForm" class="m-5">
    <div class="form-group">
      <label for="meetingUrl">Email meeting URL</label>
      <input
        type="email"
        class="form-control w-75"
        formControlName="meetingLink"
      />
    </div>
    <div class="form-group">
      <label for="meetingUrl">Enter Subject Name</label>
      <input type="email" class="form-control w-75" formControlName="subject" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="createMeeting()">
      CREATE
    </button>
  </form>
</section>

<section class="w-100 m-5" *ngIf="checkActiveMeetings">
  <div class="text-medium border-bottom border-dark my-4 font-weight-bold w-75">
    ACTIVE MEETINGS
  </div>
  <div class="w-100">
    <div *ngFor="let meeting of activeMeetingsList">
      <div class="w-50 m-5 p-5 border shadow">
        <div class="w-100 text-medium mb-2">
          {{ "Subject : " + meeting.subject }}
        </div>
        <div class="d-flex">
          <button
            class="btn btn-primary"
            (click)="joinMeeting(meeting.joinLink)"
          >
            JOIN
          </button>
          <button class="btn btn-danger ms-5"(click)="endMeeting(meeting.id)">END MEETING</button>
        </div>
      </div>
    </div>
  </div>
</section>
