// @import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
    --base-shade-1: #00a8fa;
    --white-shade-1: #ffffff;
    --white-shade-2: #d7e1f3;
    --black-shade-1: #232323;
    --black-shade-2: #676a8b;
    --grad-color-1: 0, 180, 250;
    --grad-color-2: 21, 120, 255;
    --base-font-size: 2rem;
    --medium-font-size: 2rem;
    --heading-font-size-1: 4rem;
    --heading-font-size-2: 3.2rem;
    --heading-font-size-3: 2rem;
    --heading-font-size-4: 1.8rem;
    --border-radius-1: 1rem;
    --border-radius-2: 0.5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05rem;
}

.bg-blue{
    background: linear-gradient(180deg,#2874A6, #3498CB, #00a8fa);
}

.border-white{
    border: 3px solid white;
}

.bg-grey{
    background: #E5E7E9;
}

.bg-image{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/rect%3e%3cpath d='M0 0L562.07 0L0 258.8z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 258.8L562.07 0L666.49 0L0 362.41z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 362.41L666.49 0L747.84 0L0 456.90000000000003z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 456.90000000000003L747.84 0L939.9300000000001 0L0 461.26000000000005z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L769.72 560L1440 395.59000000000003z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 395.59000000000003L769.72 560L500.91 560L1440 355.52000000000004z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 355.52L500.9100000000001 560L235.5900000000001 560L1440 290.84999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 290.85L235.59000000000015 560L157.09000000000015 560L1440 94.81000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

.w-10{
    width: 15%;
}

.hover-border:hover{
    color :  #000;
    font-weight: bold;
    border-bottom: 1px solid #3498DB;
}

.text-medium {
    font-size: 2rem;
}

.text-large {
    font-size: 3rem;
}

.cursor-pointer{
    cursor: pointer;
}

.flex-row{
    flex-direction: column;
}

.hover-blue:hover{
    background: linear-gradient(180deg,#3498CB,#00a8fa);
    color : #FFF;
}

.next-hover:hover{
    font-size: 2.5rem;
    color:#3498DB;
}

.testimonial {
    background-image: linear-gradient(45deg,
            rgba(0, 180, 250, 0.8),
            rgba(21,120,255, 0.8)),
        url(../src/assets/images/testimonial-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.testimonial h2,
.testimonial .section-desc {
    color: #FFF;
}

.testimonial .row {
    align-items: stretch;
}

.testimonial .column {
    background-color: #FFF;
    padding: 4rem 3rem;
    text-align: center;
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
}

.testimonial-image {
    height: 14rem;
    width: 14rem;
    margin: auto;
    padding: 0.9rem;
    background: linear-gradient(#FFF 50%,
            #00a8fa 50%);
    border-radius: 50%;
}

.testimonial-image img {
    width: 100%;
    border-radius: 50%;
}

.testimonial .column p {
    margin: 4rem 0;
    flex-grow: 1;
}

footer {
    background-color: var(--black-shade-1);
}

footer h3 {
    margin: 0;
}

footer h3,
footer h4 {
    color: #FFF;
    text-align: center;
}

footer .row {
    margin-bottom: 6rem;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #FFF;
}

.social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.social-links a {
    font-size: 3rem;
    text-decoration: none;
    color: #FFF;
}

footer p {
    text-align: center;
}

.bg-admin-one{
    background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,768,398)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2300A8FA'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='330' height='275' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.27'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
}

.bg-admin-two{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(6%2c 28%2c 50%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c276 C 57.6%2c247.8 172.8%2c134.8 288%2c135 C 403.2%2c135.2 460.8%2c295.2 576%2c277 C 691.2%2c258.8 748.8%2c57.2 864%2c44 C 979.2%2c30.8 1036.8%2c213.6 1152%2c211 C 1267.2%2c208.4 1382.4%2c67 1440%2c31L1440 560L0 560z' fill='rgba(6%2c 13%2c 28%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c478 C 96%2c455.8 288%2c350.6 480%2c367 C 672%2c383.4 768%2c556.8 960%2c560 C 1152%2c563.2 1344%2c418.4 1440%2c383L1440 560L0 560z' fill='rgba(12%2c 34%2c 58%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


.mb-6{
    margin-bottom: 4rem;
}

.hover-admin:hover{
    font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
