<section class="container-fluid m-0 w-100 d-flex flex-column align-items-center p-5">
  <section class="testimonial rounded" id="testimonial">
    <h2 class="text-center text-white p-5">Why Education ?</h2>
    <p class="section-desc text-center text-white">
      We provide a learning experience that is not available elsewhere. We have
      over 50,000 happy students.
    </p>

    <div class="d-flex flex-column mt-5 p-5">

      <div class="container w-50 bg-light rounded p-5" data-aos="fade-up">
        <div class="testimonial-image">
          <img src="../../assets/images/person-1.jpg" />
        </div>
        <p class="text-center mt-5">
          “The more that you read, the more things you will know, the more that
          you learn, the more places you’ll go.”
        </p>
        <h3 class="text-center">— Dr. Steve Rogers</h3>
      </div>

      <div class="container w-50 bg-light rounded my-5 p-5" data-aos="fade-up">
        <div class="testimonial-image">
          <img src="../../assets/images/person-2.jpg" />
        </div>
        <p class="text-center mt-5">“The purpose of education is to turn mirrors into windows.”</p>
        <h3 class="text-center">— Natasha Romanoff </h3>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-between px-5 my-5">
    <span
      class="material-icons text-medium cursor-pointer"
      routerLink="/features"
      >keyboard_double_arrow_left</span
    >
    <span
      class="material-icons text-medium cursor-pointer"
      routerLink="/footer"
      >keyboard_double_arrow_right</span
    >
  </div>
</section>
