<div class="bg-blue text-large text-dark p-5 m-2 mt-3" data-aos="fade-left">Welcome Admin</div>
<h3 class="m-2 mt-5" data-aos="">Current Running Courses</h3>
<hr />
<div class="d-flex my-2 ms-2 justify-content-between">
  <div class="rounded w-25 bg-grey mx-2" data-aos="zoom-in-up">
    <h5 class="bg-primary p-2 text-dark">Datascience</h5>
    <div class="border p-3">
      <span>Progress</span>
      <p><ngb-progressbar [value]="450"></ngb-progressbar></p>
      <span>Attendance</span>
      <p><ngb-progressbar [value]="750"></ngb-progressbar></p>
    </div>
  </div>

  <div class="rounded w-25 bg-grey mx-2" data-aos="zoom-in-up">
    <h5 class="bg-danger p-2 text-dark">AI and ML</h5>
    <div class="border p-3">
      <span>Progress</span>
      <p><ngb-progressbar [value]="850"></ngb-progressbar></p>
      <span>Attendance</span>
      <p><ngb-progressbar [value]="550"></ngb-progressbar></p>
    </div>
  </div>

  <div class="rounded w-25 bg-grey mx-2" data-aos="zoom-in-up">
    <h5 class="bg-warning p-2">IT & Software</h5>
    <div class="border p-3">
      <span>Progress</span>
      <p><ngb-progressbar [value]="550"></ngb-progressbar></p>
      <span>Attendance</span>
      <p><ngb-progressbar [value]="650"></ngb-progressbar></p>
    </div>
  </div>

  <div class="rounded w-25 bg-grey mx-2" data-aos="zoom-in-up">
    <h5 class="bg-success p-2 text-dark">Cybersecurity</h5>
    <div class="border p-3">
      <span>Progress</span>
      <p><ngb-progressbar [value]="450"></ngb-progressbar></p>
      <span>Attendance</span>
      <p><ngb-progressbar [value]="250"></ngb-progressbar></p>
    </div>
  </div>
</div>
