<footer class="p-5 m-5 rounded">
  <div class="row footer-about" data-aos="zoom-out">
    <h3 class="mt-5 text-large">SIGNIFY</h3>
    <p class="text-light">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt
      reprehenderit quaerat esse unde, fuga quisquam quibusdam, in distinctio
      necessitatibus nam, quae non tempore illo perferendis facere inventore.
      Blanditiis, reiciendis.
    </p>
    <div class="social-links">
      <a href="#">
        <i class="fab fa-instagram text-medium"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter text-medium"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook-f text-medium"></i>
      </a>
    </div>
  </div>

  <div class="d-flex footer-contact" data-aos="zoom-out">
    <div class="container">
      <h4>Phone Number</h4>
      <p class="text-light">+91 9493119495</p>
    </div>
    <div class="container">
      <h4>Email Address</h4>
      <p class="text-light">prathyush.t@outlook.com</p>
    </div>
  </div>
  <p class="footer-copyright">
    Copyright &copy; 2021 Study Smart. All rights reserved.
  </p>
</footer>
<div class="d-flex justify-content-between px-5 my-5">
  <span
    class="material-icons text-medium cursor-pointer next-hover"
    routerLink="/quotations"
    >keyboard_double_arrow_left</span
  >
  <span
    class="material-icons text-medium cursor-pointer next-hover"
    routerLink="/"
    >keyboard_double_arrow_right</span
  >
</div>
